# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

secrets = {
    'ssid' : '',
    'password' : '',
    'aio_username' : '',
    'aio_key' : 'V',
    'timezone' : "America/New_York", # http://worldtimeapi.org/timezones
	'openweather_token' : '', # Register here and get token in email. https://home.openweathermap.org/
    'openweather_location' : '', # Verify location here https://openweathermap.org/find
}
